In [1]:
list_a = list()
list_a.append({'date' : '2019.07.16', 'BMR' : '1.75'})
list_a.append({'date' : '2018.11.30', 'BMR' : '1.75'})
list_a.append({'date' : '2017.11.30', 'BMR' : '1.5'})
list_a.append({'date' : '2016.06.09', 'BMR' : '1.25'})
list_a.append({'date' : '2015.06.11', 'BMR' : '1.5'})
list_a.append({'date' : '2015.03.12', 'BMR' : '1.75'})
list_a.append({'date' : '2014.10.15', 'BMR' : '2.0'})
list_a.append({'date' : '2014.08.14', 'BMR' : '2.25'})
list_a.append({'date' : '2013.05.09', 'BMR' : '2.5'})
list_a.append({'date' : '2012.10.11', 'BMR' : '2.75'})
list_a.append({'date' : '2012.10.11', 'BMR' : '3.0'})
list_a.append({'date' : '2011.06.10', 'BMR' : '3.25'})
list_a.append({'date' : '2011.03.10', 'BMR' : '3.0'})
list_a.append({'date' : '2011.03.10', 'BMR' : '2.75'})
list_a.append({'date' : '2010.11.16', 'BMR' : '2.5'})
list_a.append({'date' : '2010.07.09', 'BMR' : '2.25'})
list_a.append({'date' : '2009.02.12', 'BMR' : '2.0'})
list_a.append({'date' : '2009.01.09', 'BMR' : '2.5'})
list_a.append({'date' : '2008.12.11', 'BMR' : '3.0'})
list_a.append({'date' : '2008.11.07', 'BMR' : '4.0'})
list_a.append({'date' : '2008.10.27', 'BMR' : '4.25'})
list_a.append({'date' : '2008.10.09', 'BMR' : '5.0'})
list_a.append({'date' : '2008.08.07', 'BMR' : '5.25'})
list_a.append({'date' : '2007.08.09', 'BMR' : '5.0'})
list_a.append({'date' : '2007.07.12', 'BMR' : '4.75'})
list_a.append({'date' : '2006.08.10', 'BMR' : '4.5'})
list_a.append({'date' : '2006.06.08', 'BMR' : '4.25'})
list_a.append({'date' : '2006.02.09', 'BMR' : '4.0'})
list_a.append({'date' : '2005.12.08', 'BMR' : '3.75'})
list_a.append({'date' : '2005.10.11', 'BMR' : '3.5'})
list_a.append({'date' : '2004.11.11', 'BMR' : '3.25'})

In [28]:
import pandas as pd

     BMR        date
0   1.75  2019.07.16
1   1.75  2018.11.30
2    1.5  2017.11.30
3   1.25  2016.06.09
4    1.5  2015.06.11
5   1.75  2015.03.12
6    2.0  2014.10.15
7   2.25  2014.08.14
8    2.5  2013.05.09
9   2.75  2012.10.11
10   3.0  2012.10.11
11  3.25  2011.06.10
12   3.0  2011.03.10
13  2.75  2011.03.10
14   2.5  2010.11.16
15  2.25  2010.07.09
16   2.0  2009.02.12
17   2.5  2009.01.09
18   3.0  2008.12.11
19   4.0  2008.11.07
20  4.25  2008.10.27
21   5.0  2008.10.09
22  5.25  2008.08.07
23   5.0  2007.08.09
24  4.75  2007.07.12
25   4.5  2006.08.10
26  4.25  2006.06.08
27   4.0  2006.02.09
28  3.75  2005.12.08
29   3.5  2005.10.11
30  3.25  2004.11.11

In [80]:
df = pd.DataFrame(list_a) 
df['date1']=pd.to_datetime(df['date'])
df = df.drop('date', axis = 1)
df = df.rename(columns = {'date1': 'date'})
df = df.set_index('date')
df1 = pd.DataFrame(index=pd.date_range('2004-11-11','2018-11-30'))
df = df1.join(df, how='left')
df = df.sort_index()
df = df.fillna(method='ffill')
df = df.loc['2005-01-01':'2017-12-31']
df.to_csv("기준금리2005~2017 채운것.csv", mode='w')
df

             BMR
2005-01-01  3.25
2005-01-02  3.25
2005-01-03  3.25
2005-01-04  3.25
2005-01-05  3.25
2005-01-06  3.25
2005-01-07  3.25
2005-01-08  3.25
2005-01-09  3.25
2005-01-10  3.25
2005-01-11  3.25
2005-01-12  3.25
2005-01-13  3.25
2005-01-14  3.25
2005-01-15  3.25
2005-01-16  3.25
2005-01-17  3.25
2005-01-18  3.25
2005-01-19  3.25
2005-01-20  3.25
2005-01-21  3.25
2005-01-22  3.25
2005-01-23  3.25
2005-01-24  3.25
2005-01-25  3.25
2005-01-26  3.25
2005-01-27  3.25
2005-01-28  3.25
2005-01-29  3.25
2005-01-30  3.25
...          ...
2017-12-02   1.5
2017-12-03   1.5
2017-12-04   1.5
2017-12-05   1.5
2017-12-06   1.5
2017-12-07   1.5
2017-12-08   1.5
2017-12-09   1.5
2017-12-10   1.5
2017-12-11   1.5
2017-12-12   1.5
2017-12-13   1.5
2017-12-14   1.5
2017-12-15   1.5
2017-12-16   1.5
2017-12-17   1.5
2017-12-18   1.5
2017-12-19   1.5
2017-12-20   1.5
2017-12-21   1.5
2017-12-22   1.5
2017-12-23   1.5
2017-12-24   1.5
2017-12-25   1.5
2017-12-26   1.5
2017-12-27   1.5
2017-12-28   1.5
2017-12-29   1.5
2017-12-30   1.5
2017-12-31   1.5

[4750 rows x 1 columns]